* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
a {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-size: "Nunito Sans", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  padding: 5px 25px;
  margin-top: 40px;
  justify-content: space-between;
  margin-left: 150px;
}

/*HEADER*/

.menu-list {
  display: flex;
  height: 39px;
  margin-top: 12px;
}

.menu-nav {
  max-width: 1520px;
  margin: 15px 0px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  margin-left: 40px;
  margin-top: -5px;
}

.menu-menu ul {
  display: flex;
}

.menu-menu ul li a {
  color: #035755;
}

.menu-menu a {
  display: block;
  padding: 25px;
}

.menu-menu ul .contact-button {
  border: solid;
  padding: 18px 40px;
  border-radius: 46px;
  color: #ff383d;
  margin-right: -63px;
}

li .efeito:hover::after {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #ff383d;
  border-radius: 50%;
  display: block;
  margin: 6px auto;
}

.menu-menu ul li a:hover {
  color: #fb4c47;
}

.covid-19-alert {
  display: flex;
}

.section-img {
  position: absolute;
  width: 1078px;
  left: 825px;
  top: 147px;
}

.covid-19-alert-info {
  max-width: 800px;
  margin-top: 310px;
  margin-left: 250px;
}

h1 {
  font-size: 32px;
  color: #fb4c47;
}

h2 {
  font-size: 52px;
  color: #035755;
}

p {
  font-size: 24px;
  color: #4b4f51;
  margin-bottom: 43px;
}

.button-2 {
  border: solid 0;
  padding: 18px 40px;
  border-radius: 65px;
  background-color: #fb4c47;
  color: #ffffff;
  margin-bottom: 1000px;
}

.img {
  max-width: 100%;
}

.section-2 {
  display: flex;
  margin-top: 20px;
  margin-left: -10px;
}

.part-2 {
  max-width: 648px;
  margin-top: 430px;
  margin-left: -2px;
}

.img-2 {
  margin-top: 115px;
}

.button-3 {
  border: solid 0px;
  padding: 18px 40px;
  border-radius: 65px;
  background-color: #ffe4e3;
  color: #fb4c47;
}
