* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
a {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-size: "Nunito Sans", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  padding: 5px 25px;
  margin-top: 40px;
  justify-content: space-between;
  margin-left: 150px;
}

/*HEADER*/

.menu-list {
  display: flex;
  height: 39px;
  margin-top: 12px;
}

.menu-nav {
  max-width: 1520px;
  margin: 15px 0px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  margin-left: 40px;
  margin-top: -5px;
}

.menu-menu ul {
  display: flex;
}

.menu-menu ul li a {
  color: #035755;
}

.menu-menu a {
  display: block;
  padding: 25px;
}

.menu-menu ul .contact-button {
  border: solid;
  padding: 18px 40px;
  border-radius: 46px;
  color: #ff383d;
  margin-right: -63px;
}

li .efeito:hover::after {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #ff383d;
  border-radius: 50%;
  display: block;
  margin: 6px auto;
}

.menu-menu ul li a:hover {
  color: #fb4c47;
}

.covid-19-alert {
  display: flex;
}

.section-img {
  position: absolute;
  width: 1078px;
  left: 825px;
  top: 147px;
}

.covid-19-alert-info {
  max-width: 800px;
  margin-top: 310px;
  margin-left: 250px;
}

h1 {
  font-size: 32px;
  color: #fb4c47;
}

h2 {
  font-size: 52px;
  color: #035755;
}

p {
  font-size: 24px;
  color: #4b4f51;
  margin-bottom: 43px;
  line-height: 35px;
}

.button-2 {
  border: solid 0;
  padding: 18px 40px;
  border-radius: 65px;
  background-color: #fb4c47;
  color: #ffffff;
  margin-bottom: 1000px;
}

.img {
  max-width: 100%;
}

.section-2 {
  display: flex;
  margin-top: 20px;
  margin-left: -10px;
}

.part-2 {
  max-width: 1920px;
  margin-top: -640px;
  margin-left: 974px;
  flex-wrap: wrap;
}

.img-2 {
  margin-top: 115px;
}

p {
  max-width: 640px;
  line-height: 45px;
}

.button-3 {
  border: solid 0px;
  padding: 18px 40px;
  border-radius: 65px;
  background-color: #ffe4e3;
  color: #fb4c47;
}

.virus-cortado {
  margin-top: 20px;
  margin-left: 710px;
}

.virus-pequeno {
  margin-top: -50px;
  margin-left: 700px;
}


/*SECTION 3*/


.parte-3 {
  max-width: 100%;
}


.parte-3-imgs {
  display:flex center;
}


.img-parte-3 {
  margin-top: 90px;
  margin-left: 200px;
}

.img-parte-4 {
  margin-top: -772px;
  margin-left: 690px;
  justify-content: center;
}

.img-parte-5 {
  margin-top: -735px;
  margin-left: 1175px;
  justify-content: center;
}

.titulo-e-subtitulo {
  margin-top: -1000px;
  margin-left: 655px;
}

.parte-3 h1 {
  margin-left: 200px;
  align-items: center;
}

.parte-3 h2 {
  margin-left: 150px;
  align-items: center;
}



.Virus-lateral-2 {
  position: absolute;
  margin-top: -440px;
  margin-left: 65px;
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  li .efeito:hover::after {
    display: none;
  }

  .logo {
    justify-content: center;
    margin-left: 262px;
  }

  .section-img {
    display: none;
  }

  .menu-menu {
    justify-content: center;
    margin-left: 115px;
  }

  .covid-19-alert-info {
    margin-top: 260px;
    margin-left: 200px;
  }

  h1 {
    margin-left: -10px;
  }

  h2 {
    margin-left: -10px;
  }

  p {
    margin-left: -10px;
  }

  .part-2 {
    max-width: 700px;
    margin-top: 0px;
    margin-left: 380px;
  }

  .part-2 h1 {
    margin-left: -180px;
  }

  .part-2 h2 {
    margin-left: -180px;
  }

  .part-2 p {
    margin-left: -180px;
  }

  .button-3 {
    margin-left: -185px;
  }

  .virus-cortado {
    display: none;
  }

  .virus-pequeno {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  li .efeito:hover::after {
    display: none;
  }

  .menu-nav {
    width: 300px;
  }

  .menu-menu {
    max-width: 300px;
  }

  .logo {
    justify-content: center;
    margin-left: 75px;
  }

  .section-img {
    display: none;
  }

  .img-2 {
    display: none;
  }

  .menu-menu {
    margin-left: -20px;
  }

  .menu-menu ul li a {
    padding: 10px;
  }

  .menu-menu ul .contact-button {
    border: solid 0;
    padding: 18px 40px;
    border-radius: 46px;
    color: #035755;
    margin-top: -7px;
    margin-left: -32px;
  }

  .part-2 {
    max-width: 300px;
    margin-top: 150px;
    margin-left: 370px;
  }

  h1 {
    margin-top: -90px;
    margin-bottom: 20px;
    margin-left: -215px;
    font-size: 35px;
  }

  h2 {
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: -215px;
    font-size: 37px;
  }

  p {
    margin-top: -10px;
    margin-left: -215px;
    font-size: 17px;
  }

  .button-2 {
    margin-left: -215px;
  }

  .part-2 {
    max-width: 500px;
    margin-top: 300px;
    margin-left: 230px;
  }

  .part-2 h1 {
    margin-left: -195px;
  }

  .part-2 h2 {
    margin-left: -195px;
  }

  .part-2 p {
    margin-left: -195px;
  }

  .button-3 {
    margin-left: -195px;
  }

  .virus-cortado {
    display: none;
  }

  .virus-pequeno {
    display: none;
  }
}
